<app-header />

<main>
    <ul id="users">
        <li>
            <app-user [user]="users[0]" (selecte)="onSelectUser($event)" />
        </li>
        <li>
            <app-user [user]="users[1]" (selecte)="onSelectUser($event)" />
        </li>
        <li>
            <app-user [user]="users[2]" (selecte)="onSelectUser($event)" />
        </li>
        <li>
            <app-user [user]="users[3]" (selecte)="onSelectUser($event)" />
        </li>
        <li>
            <app-user [user]="users[4]" (selecte)="onSelectUser($event)" />
        </li>
        <li>
            <app-user [user]="users[5]" (selecte)="onSelectUser($event)" />
        </li>
    </ul>
    
    <app-task [name]="selectedUser?.name" />
</main>
